node_modules
.DS_Store
dist
build
.env
.env.local
pnpm-lock.yaml
yarn.lock
package-lock.json
.vscode
.idea
coverage
.eslintcache
.next
.svelte-kit
*.log
.tmp
.vercel
.supabase
prisma/dev.db
prisma/dev.db-journal
